{% extends 'base.html.twig' %}

{% block title %}DOCOVID - Trouver le matériel qui vous manque{% endblock %}

{% block body %}

<body>

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
    
	{% block header %}
	{{ parent() }}
	 {% endblock %}
	<!-- /header -->
	
	<main>
		<div class="hero_home version_1">
			<div class="content">
				<h3>Aidez les soignant !</h3>
				<p>
					Trouve ceux qui ont besoin du matériel que tu possèdes 
				</p>
				
						
					<p class="text-center"><a href="{{path('demande_index')}}" class="btn_1 medium">Chercher maintenant!</a></p>

						

			</div>
		</div>
		<!-- /Hero -->

		<div class="container margin_120_95" >
			<div class="main_title">
				<h2>Découvrez  <strong>DOCOVID</strong> !</h2>
				<p>DOCOVID est un service GRATUIT pour aider le personnel médical dans l'exercice de ses fonctions..</p>
			</div>
			<div class="row add_bottom_30">
				<div class="col-lg-4">
					<div class="box_feat" id="icon_2">
						<span></span>
						<h3>Connectez-Vous</h3>
						<p>Si vous êtes un soignant ou si vous avez du matériel, inscrivez-vous.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_3">
						<span></span>
						<h3>Demandez ou Donnez</h3>
						<p>Demandez le matériel qui vous manque en 2 minutes.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_1">
						
						<h3>Recevez de l'aide</h3>
						<p>Retrouvez la personne qui va vous offrir le matériel qui vous manque.</p>
					</div>
				</div>
				
				
			</div>
			<!-- /row -->
			<p class="text-center"><a href="{{path('fos_user_registration_register')}}" class="btn_1 medium">Rejoignez Nous !</a></p>

		</div>
		<!-- /container -->

		
		

		<div id="app_section">
			<div class="container">
				<div class="row justify-content-around">
					<div class="col-md-5">
						<p><img src="img/app_img.svg" alt="" class="img-fluid" width="500" height="433"></p>
					</div>
					<div class="col-md-6">
						<small>Application</small>
						<h3>Téléchargez <strong>DOCOVID App</strong> dès maintenant!</h3>
						<p class="lead">description sur l app.</p>
						<div class="app_buttons wow" data-wow-offset="100">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
							<path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
							<path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
							<path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
						</svg>
							<a href="#0" class="fadeIn"><img src="img/google_play_app.png" alt="" width="150" height="50" data-retina="true"></a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /app_section -->
	</main>
	<!-- /main content -->
	
	
	{% block footer %}
	{{ parent() }}
	 {% endblock %}
	<!--/footer-->

	<div id="toTop"></div>
	<!-- Back to top button -->
	</body>

</html>
{% endblock %}